In [2]:
#dia 01
#lab 4

#replace de strings

x = [
    "Apple",
    "Watermellon",
    "Grapes"
]

x

",".join(x)

'Apple,Watermellon,Grapes'

In [8]:
#dia 01
#lab 4

#replace de strings

x = "[Apple,Watermellon,Grapes]"


x.replace("[","").replace("]","")
print( x.replace("[","").replace("]","") )

x.replace(",","")

Apple,Watermellon,Grapes

'[AppleWatermellonGrapes]'

In [2]:

#replace de strings

x = ["Apple","Watermellon","Grapes"]
x
y = []
count = 0

while count < 3:
    item = x[count]
    
    y.append(item)
    print("Novo item adicionado:",item)
    
    count += 1
print(y)

Novo item adicionado: Apple
Novo item adicionado: Watermellon
Novo item adicionado: Grapes
['Apple', 'Watermellon', 'Grapes']

In [7]:
list_a = []
list_a.append("a")
list_a

['a']

In [9]:
list_a = []
list_a = list_a.append("a")
list_a
# Retorna None, uma vez que a metodo "append" nao retorna valores

In [17]:
#RANGE

range(3)

for n in range(3):
    print(n)
print("\n")


for n in range(5,11):
    print(n)

0
1
2


5
6
7
8
9
10

In [23]:
x = ["Apple","Watermellon","Grapes"]
x
y = []
count = 0

while count < 3:
    item = x[count]
    
    y.append(item)
    print("Novo item adicionado:",item)
    
    count += 1
print(y)
print("\n")

# outra forma de fazer com "range"
y = []
for index in range(2):
    item = x[index]
    y.append(item)
print(y)
print("\n")

Novo item adicionado: Apple
Novo item adicionado: Watermellon
Novo item adicionado: Grapes
['Apple', 'Watermellon', 'Grapes']


['Apple', 'Watermellon']

In [33]:
# TERNARIO
# OUTRA FORMA DE ESCREVER CONDICAO IF

x= 5
result = "greater than 5" if x > 5 else "= or lower than 5"
print(x)
print(result)

5
= or lower than 5

In [35]:
def add(a,b):
    return a+b

print(add(3,3))

6

In [ ]:
# classes
#